<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exception</title>
</head>
<body>
<div>
    <h1>ОШИБКА</h1>
    <h3>Что то пошло не так</h3>
    <div th:if="${errorCode}">
        <p>Код ошибки</p>
        <p th:utext="${errorCode}"></p>
    </div>
    <div th:if="${errorMessage}">
        <p>Текст ошибки</p>
        <p th:utext="${errorMessage}"></p>
    </div>
    <div th:if="${errorDescription}">
        <p>Описание</p>
        <p th:utext="${errorDescription}"></p>
    </div>
</div>
</body>
</html>